/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: Arial, sans-serif;
    background-color: #aac7e1;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgb(253, 254, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  